:root{
    --WebSitemainColor: gray;
    --mainColor:rgb(148, 89, 89, 0.5);
    --headerColor: #303030;
    --footerColor: #303030;
    --menuColor: brown;
    --menuColorHover: burlywood;
    --textColor : black;
    --sectionBackG: rgba(119, 95, 95, 0.500);
    --sectionBorder:black;
    --requireMark: rgba(160, 0, 0, 0.7);

    --defaultInputWidth: 40%;
    --heigthMenu: 60px;
}

*{
    margin: 0;
    padding: 0;
}


/* -------------- for all divice -------------- */

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--WebSitemainColor);
}

h1{
    text-decoration: underline;
}

/* Main style*/

main{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 2%;
    background-color: var(--mainColor);
    width: 80%;
}

article{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    gap: 4px;
    border: 2px solid var(--sectionBorder);
    background-color: var(--menuColorHover);
    width: 80%;
}

article > img{
    width: 150px;
}

article h2{
    text-decoration: underline;
}

/*Contact style */

.contactForm{
    display: flex;
    flex-direction: column;
    gap: 6px;
    background-color: var(--menuColorHover);
    padding: 10px;
    width: 80%;
}

.contactForm h2{
    align-self: center;
    text-decoration: underline;
}

.contactForm > input{
    width: 50%;
}

.contactForm > .message{
    align-self: center;
    width: 80%;
}

.contactForm > .submitButton{
    align-self: center;
    width: 30%;
}

.contactForm > .resetButton{
    align-self: center;
    width: 30%;
}


/*subscribe style */

.subscribeForm{
    display: flex;
    flex-direction: column;
    gap: 6px;
    background-color: var(--menuColorHover);
    padding: 10px;
    width: 80%;
}

.subscribeForm h2{
    align-self: center;
    text-decoration: underline;
}

.subscribeForm > input{
    position: relative;
    left: 5%;
    width: 50%;
}

.sexeGroup{
    display: flex;
    justify-content: center;
    gap: 5%;
    padding: 2%;
    width: 80%;

    border: 2px solid var(--menuColor);
}

.subscribeForm > .photo:hover{
    background-color: var(--menuColor);
    color: var(--menuColorHover);
}


.subscribeForm > .submitButton{
    align-self: center;
    width: 50%;
}

.subscribeForm > .resetButton{
    align-self: center;
    width: 50%;
}


/* -------------- mobile -------------- */

@media screen and (320px <= width < 768px) {
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        background-color: var(--headerColor);
        width: 100%;
        height: 150px;
    }

    /* Burger menu */

    nav > .burgerMenu{
        position: absolute;
        top: 50px;
        right: 20px;
        width: 40px;
        height: 40px;
    }

    .burgerMenu > .burgerButton{
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 2;
    }


    nav > .burgerMenu > .visualBurger{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10%;
        background-color: antiquewhite;
        width: 100%;
        height: 100%;
    }

    .visualBurger > .top{
        background-color: var(--menuColor);
        width: 80%;
        height: 15%;
    }

    .visualBurger > .mid{
        background-color: var(--menuColor);
        width: 80%;
        height: 15%;
    }

    .visualBurger > .bot{
        background-color: var(--menuColor);
        width: 80%;
        height: 15%;
    }

    nav > .burgerMenu > .burgerButton:checked + #visualBurger .top{
        animation: burgerAnimationTop 1s ease forwards;
    }

    nav > .burgerMenu > .burgerButton:checked + #visualBurger .mid{
        visibility: hidden;
    }

    nav > .burgerMenu > .burgerButton:checked + #visualBurger .bot{
        animation: burgerAnimationBot 1s ease forwards;
    }

    @keyframes burgerAnimationTop {
        0%{

        }

        100%{
            transform: translate(0 , 10px) rotate(45deg);
        }
    }

    @keyframes burgerAnimationBot {
        0%{

        }

        100%{
            transform: translate(0px, -10px) rotate(-45deg);
        }
    }

    /* style Menu */

    nav{
        width: 90%;
    }

    nav > ul{
        position: absolute;
        top: 150px;
        right: 0px;
        display: flex;
        flex-direction: column;
        gap: 2%;
        justify-content: center;
        text-align: center;
        transform: scale(1);
        background-color: var(--headerColor);
        padding-left: 10px;
        padding-bottom: 10px;
        height: 40%;
        /* transform: translate(100% , 0); */
    }
    
    nav ul{
        list-style-type: none;
    }
    
    nav ul li{
        position: relative;
        background-color: var(--menuColor);
        height: 100%;
        flex: 1;
        transition: 0.5s;
    }
    
    nav > ul > li:hover{
        background-color: var(--menuColorHover);
    }
    
    nav > ul > li > a{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);
    }
    
    li a {
        text-decoration: none;
        color: var(--textColor);
    }

    .subMenu{
        margin-top: var(--heigthMenu);
        text-align: left;
        overflow: hidden; /* hidden the submenu */
        max-height: 0;
        width: 100%;
    }
    
    .subMenu > li > a{
        display: flex;
        padding-left: 20px;
        align-items: center;
        width: 100%;
        height: 50px;
    }

    .dropDownMenu:active .subMenu{
        transform: translateX(-153px) translateY(-60px);
        overflow: visible;
    }

    /* common form style */
    .submitButton:hover{
        background-color: var(--menuColor);
        color: var(--menuColorHover);
    }

    .resetButton:hover{
        background-color: var(--menuColor);
        color: var(--menuColorHover);
    }

    .requiredMark{
        color: var(--requireMark);
    }

    nav > .burgerMenu > .burgerButton:checked nav > ul{
        transform: translate(-100% , 0);
    }

    /* footer style */

    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        background-color: var(--footerColor);
        padding-top: 2%;
        padding-bottom: 2%;
        width: 100%;
    }

    footer > section{
        border: 2px solid var(--menuColor);
        padding: 2%;
        width: 80%;
    }

    footer > .copyright > p{
        font-size: 1.1em;
    }

    footer > .copyright > p > a {
        color: var(--menuColor);
    }

    footer > .copyright > p > a:hover{
        color: var(--menuColorHover);
        font-size: 1.2em;
    }


    footer > .articleSection{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    footer > .articleSection p{
        font-size: 1.5em;
        text-decoration: underline;
    }

    footer > .articleSection a{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 50px;
        text-decoration: none;
        background-color: var(--menuColor);
        color: var(--textColor);
    }

    footer > .articleSection a:hover{
        background-color: var(--menuColorHover);
        color: var(--menuColor);
    }
}


/* -------------- Laptop and Desktop -------------- */

@media screen and (min-width: 768px){
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        background-color: var(--headerColor);
        padding-top: 5px;
        width: 100%;
        height: 150px;
    }
    
    /* Menu style */

    nav > .burgerMenu{
        display: none;
        width: 40px;
        height: 40px;
    }
    
    nav{
        width: 90%;
    }
    
    nav > ul{
        display: flex;
        gap: 2%;
        justify-content: center;
        text-align: center;
        transform: scale(1);
        height: var(--heigthMenu);
    }
    
    nav ul{
        list-style-type: none;
    }
    
    nav ul li{
        position: relative;
        background-color: var(--menuColor);
        height: 100%;
        flex: 1;
        transition: 0.5s;
    }
    
    nav > ul > li:hover{
        background-color: var(--menuColorHover);
    }
    
    nav > ul > li > a{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);
    }
    
    li a {
        text-decoration: none;
        color: var(--textColor);
    }
    
    .subMenu{
        margin-top: var(--heigthMenu);
        width: 100%;
        text-align: left;
        overflow: hidden;
        max-height: 0;
    }
    
    .subMenu > li > a{
        display: flex;
        padding-left: 20px;
        align-items: center;
        width: 100%;
        height: 50px;
    }
    
    nav > ul > li:hover > a{
        color: var(--menuColor);
    }
    
    nav > ul > li:hover {
        transform: scale(1.1);
        transition: 0.5s;
    }
    
    .subMenu > li:hover{
        background-color: var(--menuColorHover);
        border: 2px solid var(--menuColor);
    }
    
    .subMenu > li:hover > a{
        color: var(--menuColor);
    }
    
    .dropDownMenu:hover > .subMenu{
        max-height: 50em;
        animation: dropDownMenuAnime 0.5s ;
    }
    
    @keyframes dropDownMenuAnime{
        0%{
    
        }
    
        50%{
    
        }
    
        100%{
    
        }
    }
    
    /* common form style */
    
    .submitButton:hover{
        background-color: var(--menuColor);
        color: var(--menuColorHover);
    }
    
    .resetButton:hover{
        background-color: var(--menuColor);
        color: var(--menuColorHover);
    }
    
    .requiredMark{
        color: var(--requireMark);
    }

    /* footer style */

    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        background-color: var(--footerColor);
        padding: 2%;
        width: 96%;
    }

    footer > section{
        border: 2px solid var(--menuColor);
        padding: 2%;
        width: 54%;
    }

    footer > .copyright > p{
        font-size: 1.1em;
    }

    footer > .copyright > p > a {
        color: var(--menuColor);
    }

    footer > .copyright > p > a:hover{
        color: var(--menuColorHover);
        font-size: 1.2em;
    }


    footer > .articleSection{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    footer > .articleSection p{
        font-size: 2em;
        text-decoration: underline;
    }

    footer > .articleSection a{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 50px;
        text-decoration: none;
        background-color: var(--menuColor);
        color: var(--textColor);
    }

    footer > .articleSection a:hover{
        background-color: var(--menuColorHover);
        color: var(--menuColor);
    }

}